<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <strong>Invoice</strong>
      <!-- <strong>B123</strong> -->
      <a
        class="btn btn-sm btn-secondary float-right mr-1 d-print-none"
        href="#"
        onclick="javascript:window.print();"
        data-abc="true"
      >
        <i class="fa fa-print"></i> Print</a
      >
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6">
          <h6 class="mb-3">From:</h6>
          <div>
            <strong>Keerthi Restaurant</strong>
          </div>
          <div>42, Awesome Enclave</div>
          <div>Virudhunagar,</div>
          <div>Email: Keerthisakthi017@gmail.com</div>
          <div>Phone: 8489802617</div>
          <p>Bill Date: {{ Today | date: "medium" }}</p>
        </div>

        <div class="col-sm-6">
          <h6 class="mb-3">Bill To:</h6>
          <div class="input-container">
            <input
              type="text"
              class="form-control"
              formControlName="customerName"
              id="name"
              placeholder="Customer name"
            />
            
            <div
              *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="customerName.errors?.['required']">Name is required.</div>
              <div *ngIf="customerName.errors?.['minlength']">
                Name must be at least 8 characters long.
              </div>
              <div *ngIf="customerName.errors?.['maxlength']">
                Name must not exceed 20 characters.
              </div>
              <div *ngIf="customerName.errors?.['pattern']">
                Name must not include special characters or numbers.
              </div>
            </div>
          </div>
          <div class="input-container">
            <textarea
              class="form-control"
              formControlName="customerAddr"
              id="address"
              placeholder="Address"
              row="3"
            ></textarea>
            <div
              *ngIf="customerAddr.invalid && (customerAddr.dirty || customerAddr.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="customerAddr.errors?.['required']">Address is required.</div>
              <div *ngIf="customerAddr.errors?.['minlength']">
               Address must be atleast 10 charaters.
              </div>
              <div *ngIf="customerAddr.errors?.['maxlength']">
                Address must not exceed 30 characters.
              </div>
              
            </div>
          </div>
          <div class="input-container">
            <input
              type="email"
              class="form-control"
              formControlName="customerEmail"
              id="email"
              placeholder="Email"
            />
         
            <div *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)" class="alert alert-danger">  
              <div *ngIf="customerEmail.errors.required">Email Address is required.</div>  
              <div *ngIf="customerEmail.errors.email">Please, Enter valid Email Address.</div>  
          </div>
          </div>
          <div class="input-container">
            <input
              type="tel"
              class="form-control"
              formControlName="customerPhno"
              id="contactNo"
              placeholder="Contact no"
              
            />
            <div *ngIf="customerPhno.invalid && (customerPhno.dirty || customerPhno.touched)" class="alert alert-danger">  
              <div *ngIf="customerPhno.errors.required">Mobile Number is required.</div>  
              <div *ngIf="customerPhno.errors.pattern">Please, Enter 10 digit Mobile Number only.</div>  
          </div>
          </div>
          <div class="input-container">
            <input
              type="date"
              class="p-2 billDate"
              formControlName="billDate"
              id="billDate"
              placeholder="billDate"
            />
            <div *ngIf="billDate.invalid && (billDate.dirty || billDate.touched)" class="alert alert-danger">  
              <div *ngIf="billDate.errors.required">Bill date is required</div>  
               
          </div>
          </div>
        </div>
      </div>

      <div class="card border-secondary mt-2">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between">
            Order Details
            <button
              type="button"
              class="btn btn-secondary"
              (click)="addProduct()"
            >
              +
            </button>
          </h4>

          <div class="row form-group" formArrayName="productArray">
            <table class="table table-responsive-sm">
              <thead>
                <tr>
                  <th width="25%">Product</th>
                  <th width="25%">Price</th>
                  <th width="25%">Quantity</th>
                  <th width="25%">Amount</th>
                  <th width="25%">Action</th>
                </tr>
              </thead>

              <tbody
                *ngFor="
                  let control of productFormGroups.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <tr>
                  <td>
                    
                    <select
                      class="custom-select mb-3"
                      (change)="changeProduct($event,i)"
                      formControlName="product"
                     
                    >
                      <option value="">Select Product</option>
                      <option
                        *ngFor="let product of productList"
                        [ngValue]="product"
                      >
                        {{ product.prodName }}
                        
                      </option>
                    </select>
                    <!-- <div *ngIf="product.touched && product.invalid" class="alert alert-danger">  
                      <div *ngIf="product.errors.required">Please select product</div>  
                  </div>  -->
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="productPrice"
                      id="price"
                      [value]="productPrice"
                      readonly
                      
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="productQty"
                      id="quantity"
                      (change)="calculateAmount(i)"
                    />
                  </td>
                  <td >
                    <input
                      class="form-control"
                      type="number"
                      formControlName="productAmount"
                      name="productAmount"
                      readonly
                    />
                   
                  </td>
                  <td>
                    <button class="btn" (click)="removeRow(i)">
                      <svg
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        stroke="currentColor"
                        stroke-width="2"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="css-i6dzq1"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-5">
          <i>It was great doing business with you!</i>
        </div>
        <div class="col-lg-4 col-sm-5 ml-auto">
          <table class="table table-clear table-responsive-sm">
            <tbody>
              <tr>
                <td class="left">
                  <strong>Subtotal</strong>
                </td>
                <td class="right">
                  <input
                    type="number"
                    class="form-control"
                    formControlName="subTotal"
                    id="subtotal"
                    [value]="subTot"
                    readonly

                  />
                </td>
              </tr>

              <tr>
                <td class="left">
                  <strong>Tax (10%)</strong>
                </td>
                <td class="right">
                  <input
                    type="number"
                    class="form-control"
                    formControlName="taxValue"
                    id="taxValue"
                    [value]="taxVal"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td class="left">
                  <strong>Total</strong>
                </td>
                <td class="right">
                  <strong>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="netAmount"
                      id="netAmount"
                      [value]="netPrice"
                      readonly
                  /></strong>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!invoiceForm.valid"
            (click)="postInvoiceDetails()">
            Create Invoice
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
